POSTGRES_DB=chnu_jobs
POSTGRES_USER=chnu_jobs
POSTGRES_PASSWORD=chnu_jobs_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
SESSION_SECRET=change-this-secret
PORT=3000
DB_INIT_RETRIES=15
DB_INIT_DELAY=2
